developer-notes
*.Rbuildignore
*.venv
*.csv
raw-data/Italy-Miles/past_presidents/Governo Monti_statements/raw_pdfs/*.txt
*.pdf
*.png
*.Rproj
*.Rproj.user
*.html
*.DS_Store
raw-data/upload-to-the-duck
*.vdoc.py
*.vdoc.r
raw-data/USA-Josh/explainer of presidency scraper_files/libs
.Rproj.user
*.parquet
altdoc/freeze.rds
_quarto/*
!_quarto/_freeze/
