/*-- scss:defaults --*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

$font-family-sans-serif: 'Roboto Mono';

$body-color: #222 !default;
$link-color: #5e7ca1;
$code-color: #222;
$navbar-bg: #ececec;    
$navbar-fg: #222;    
$navbar-hl: #5e7ca1;
$sidebar-fg: #222;
$sidebar-hl: #5e7ca1;
$toc-color: #222;
$toc-hl: #5e7ca1;


.table {
  font-size: .8em;
}

